.header__logo:after {
  content: "";
  background: repeating-linear-gradient(
    90deg,
    #ffa86a,
    #ffa86a 2px,
    transparent 0,
    transparent 10px
  );
  display: block;
  width: 100%;
  right: 10px;
}
.header__logo a {
  flex: 0 0 auto;
  max-width: 100%;
  text-decoration: none;
}
