.headings--one-size h1,
.headings--one-size h2,
.headings--one-size h3,
.headings--one-size h4,
.headings--one-size h5,
.headings--one-size h6 {
  line-height: 1.3;
}
.headings--one-size h1:not(first-child),
.headings--one-size h2:not(first-child),
.headings--one-size h3:not(first-child),
.headings--one-size h4:not(first-child),
.headings--one-size h5:not(first-child),
.headings--one-size h6:not(first-child) {
  margin-top: 40px;
}
.headings--one-size h1,
.headings--one-size h2,
.headings--one-size h3 {
  font-size: 1.4rem;
}
.headings--one-size h4,
.headings--one-size h5,
.headings--one-size h6 {
  font-size: 1.2rem;
}
